/* Core Colors
======================*/

/*Standard Colors*/
$l_green: #50aa08;
$green: #429500;
$d_green:#2f6a00;

$l_yellow: #f7ce6e;
$yellow: #ffba3e;
$d_yellow:#e7b555;

$l_red:#e8654f;
$red:#cd351c;
$d_red:#821604;

$l_gray:#f7f7f7;
$gray:#cbcbcb;
$d_gray: #595959;

$black: #000000;
$white: #ffffff;

$l_orange: #FCA120;
$orange: #eea236;
$d_orange:#d58512;


$link: #2F6A00;
$link_hover: #429500;

$navbarLightNavyBlue:#616e75;
$navbarDarkNavyBlue:#39444a;
/*Special Colors*/
$fbookLightBlue:#5780c3;
$fbookStandardBlue: #5074b0;
$fbookDarkBlue: #415887;



$premium : #b69a8a;



/*Error*/
$error_top:#f24537;
$error_bottom:#c62d1f;
$error_border:#dc4e4d;
$error_color:#b82422;

/*Success*/
$success_top:#41b038;
$success_bottom:#2b8f24;
$success_border:#53a246;
$success_color:#328525;

/*Generic*/
$generic_msg:#fbfbdb;
/*fonts*/

$standardHeaderText: 'Noto Sans', sans-serif;
$standardText: 'Titillium Web', sans-serif;



